<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <appSettings>
    <add key="ZLog.DiagnosticLogger.LogFolder" value="c:\Logs" />
    <add key="ZLog.LogFolder" value="c:\Logs" />
    <add key="ZLog.DiagnosticLogger.Enabled" value="true" />
    <add key="ZLog.PerformanceLogger.Enabled" value="true" />
    <add key="ZLog.ErrorLogger.Enabled" value="true" />
    <add key="ZLog.UsageLogger.Enabled" value="true" />
    <add key="Stackify.ApiKey" value="9La6Bb9Yb9Rb6Nn8Fc9Tc4Wu3Hu9Sd8Hy7Ai3We" />
    <add key="Stackify.AppName" value="ZLogConsole" />
    <add key="Stackify.Environment" value="Dev" />
  </appSettings>

  <nlog>
    <extensions>
      <add assembly="NLog.Targets.Stackify" />
    </extensions>
    <targets>
      <default-wrapper type="BufferingWrapper" slidingTimeout="true" bufferSize="100" flushTimeout="10000" />
      <!--<target name="PerformanceLogger" type="file" layout="${message}" fileName="c:\Logs\PL-${shortdate}.log" />-->
      <target name="PerformanceLogger" type="StackifyTarget" layout="${date:format=HH\:mm\:ss} ${logger} ${message}" />
      <!--><target name="ErrorLogger" type="StackifyTarget" />-->
    </targets>
    <rules>
      <logger name="PerformanceLogger" minlevel="Trace" writeTo="PerformanceLogger" />
      <logger name="ErrorLogger" minlevel="Trace" writeTo="ErrorLogger" />
      <logger name="UsageLogger" minlevel="Trace" writeTo="UsageLogger" />
      <logger name="DiagnosticLogger" minlevel="Trace" writeTo="DiagnosticLogger" />
    </rules>
  </nlog>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>